<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/" style="padding: 0 2rem; margin: 0"><img class="logo" src="/images/BYUI-logo.png" alt="BYU Idaho logo"></a></li>
      <li class="<%= path === '/' ? 'active' : ''%>">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Shop <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="<%= path === '/browser-products' ? 'active' : ''%>"><a href="/shopRoutes/browser-products">Browser Products</a></li>
            <li class="<%= path === '/shop' ? 'active' : ''%>"><a href="/shopRoutes/shop">Shop</a></li>
            <li class="<%= path === '/ta04' ? 'active' : ''%>"><a href="/ta04">Cart</a></li>
            <li class="<%= path === '/ta04' ? 'active' : ''%>"><a href="/ta04">Checkout</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> User <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="<%= path === '/prove02' ? 'active' : ''%>"><a href="/prove02/add_book">Login</a></li>
            <li class="<%= path === '/userRoutes' ? 'active' : ''%>"><a href="/userRoutes">Sign Up</a></li>
            <li class="<%= path === '/prove04' ? 'active' : ''%>"><a href="/prove04">My Products</a></li>
            <li class="<%= path === '/add-product' ? 'active' : ''%>"><a href="/shopRoutes/add-product">Add Product</a></li>
            <!-- <li class="<%= path === '/prove04' ? 'active' : ''%>"><a href="/prove04">Edit Product</a></li> -->
          </ul>
      </li>
    </ul>
  </div>
</nav>
