<%- include('../../../includes/prove_activities/prove03/head.ejs') %>
    <div>
        <h1>Products</h1>
        <% if (products.length > 0) { %>
            <ul>
                <% products.forEach((products) => { %>
                    <h3> <%= products.name %> </h3>
                    <h4> <%= products.author %> </h4>
                    <%= products.summary %>
                <% }) %>
            </ul>
        <% } else { %>
            <h1>No products found!</h1>
        <% } %>
    </div>
<%- include('../../../includes/prove_activities/prove03/end.ejs') %>