<%- include('../../../includes/prove_activities/prove02/head.ejs') %>
    <div>
        <h1>Books</h1>
        <% if (books.length > 0) { %>
            <ul>
                <% books.forEach((books) => { %>
                    <h3> <%= books.name %> </h3>
                    <h4> <%= books.author %> </h4>
                    <%= books.summary %>
                <% }) %>
            </ul>
        <% } else { %>
            <h1>No books found!</h1>
        <% } %>
    </div>
<%- include('../../../includes/prove_activities/prove02/end.ejs') %>